:root {
  --navbar-bg: #d3e5f1;
  --navbar-footer-bg: #05080a;
  --body-bg: #0b1a1f;
  --emphasis-letter-border: #00e5ff;
  --important-button: #c81e3a;
  --not-important: #d0d0d0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.homeContainerOne {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  background-color: var(--navbar-footer-bg);
}

.homeContSmall {
  flex: 1;
}

.homeTagLine {
  width: 80%;
  margin: 0 auto;
  color: var(--emphasis-letter-border);
  font-size: 1.8rem;
  text-align: center;
}

.homeContSmallTwo {
  flex: 1;
  padding: 100px 0;
}

.homeDescription {
  color: #b8b8b8;
  font-size: 1.3rem;
  width: 80%;
  line-height: 40px;
  margin-bottom: 50px;
}

.homeContBtn {
  text-decoration: none;
  background-color: #c81e3a;
  color: rgb(165, 165, 165);
  padding: 17.5px 30px;
  font-size: 1.3rem;
  transition: 0.7s;
  cursor: pointer;
}

.homeContBtn:hover {
  background-color: #e80b30;
  color: white;
}

.homeContainerTwo {
  background-color: #0b1a1f;
  padding: 80px 0;
}

.homeContainerImg {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 300px;
  overflow: hidden;
}

.homeContainerThree {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeDetails {
  width: 80%;
  margin: 0 auto;
}

.homeDeBrand {
  color: rgb(240, 240, 240);
  font-size: 1.8rem;
}

.homeDeModel {
  color: var(--emphasis-letter-border);
  font-size: 3rem;
}

.homeArrow {
  display: flex;
  align-items: center;
  gap: 20px;
}

.homeDeBtn {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-size: 1.5rem;
  transition: 1s;
}

.homeDeBtn:hover {
  margin-left: 20px;
}

.homeBrandsContainer {
  background-color: #343e43;
}

.homeBrandsTitle {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  color: #00e5ff;
  font-size: 1.8rem;
  border-bottom: 3px solid white;
  width: 200px;
  margin: 0 auto;
}

.homeBrands {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px 0 70px 0;
  width: 80%;
  margin: 0 auto;
}

.homeCategorySection {
  background-color: #1d2226;
}

.homeCategoryFigure {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 2.5px 0 70px 0;
  width: 80%;
  margin: 0 auto;
}

.homeFigure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.homeFigcaption {
  color: rgb(165, 165, 165);
  font-size: 1.3rem;
  cursor: pointer;
}

.homeFigcaption:hover {
  color: rgb(240, 240, 240);
}

.homeSectionPart {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}

.homeSectionLogo {
  width: 40px;
}

.homeSectionTitle {
  color: #f9fafb;
  font-size: 1.1rem;
}

.homeBgTitle {
  background-color: #0b1a1f;
  margin-bottom: 80px;
}
