:root {
  --navbar-bg: #d3e5f1;
  --navbar-footer-bg: #05080a;
  --body-bg: #0b1a1f;
  --emphasis-letter-border: #00e5ff;
  --important-button: #c81e3a;
  --not-important: #898989;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg);
  width: 100%;
  position: relative;
  z-index: 100;
}

.intro {
  flex: 1;
  display: flex;
  width: 80%;
  margin: 0 auto;
  border-bottom: 3px solid rgb(240, 240, 240);
  padding: 20px 0;
}

.nav1 {
  flex: 1;
  display: flex;
  justify-content: left;
  margin-left: 50px;
  align-items: center;
}

.navHome {
  text-decoration: none;
  color: rgb(168, 168, 168);
  font-size: 1.3rem;
  transition: 0.5s;
}

.navHome:hover {
  color: rgb(240, 240, 240);
}

.navModels {
  text-decoration: none;
  color: rgb(148, 148, 148);
  background-color: #0b1a1f;
  font-size: 1.3rem;
  transition: 0.5s;
  cursor: pointer;
  border: none;
}

.navModels:hover {
  color: rgb(240, 240, 240);
}

.navParts {
  text-decoration: none;
  color: rgb(148, 148, 148);
  font-size: 1.3rem;
  transition: 0.5s;
}

.navParts:hover {
  color: rgb(240, 240, 240);
}

.navAbout {
  text-decoration: none;
  color: rgb(148, 148, 148);
  font-size: 1.3rem;
  transition: 0.5s;
}

.navAbout:hover {
  color: rgb(240, 240, 240);
}

.nav2 {
  flex: 1;
  display: flex;
  justify-content: right;
  margin-right: 30px;
  gap: 40px;
  align-items: end;
}

.SearchIcon {
  cursor: pointer;
}

.FavoriteIcon {
  cursor: pointer;
}

.navRoute {
  text-decoration: none;
}

.AvatarIcon {
  cursor: pointer;
}

.CartIcon {
  color: black;
  cursor: pointer;
}

.nav3 {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 90px;
  height: 90px;
}

.NavbarPopUp {
  position: absolute;
  top: 0;
}

.navLogOut {
  color: rgb(168, 168, 168);
  font-size: 1.3rem;
  transition: 0.5s;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navLogOut:hover {
  color: rgb(240, 240, 240);
}

@media (max-width: 480px) {
  * {
    overflow-x: hidden;
  }
  .navbar {
    width: 100%;
    justify-content: center;
    height: 10hv;
  }

  .intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav2 {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    width: 80%;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }

  .SearchIcon {
    border: 1px solid red;
  }

  .navRoute {
    border: 1px solid red;
  }

  .BurgerIcon {
    border: 1px solid red;
  }

  .nav3 {
    display: none;
  }
}
