:root {
  --navbar-bg: #d3e5f1;
  --navbar-footer-bg: #05080a;
  --body-bg: #0b1a1f;
  --emphasis-letter-border: #00e5ff;
  --important-button: #c81e3a;
  --not-important: #898989;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.partsMain {
  display: flex;
}

.partsContainerOne {
  flex: 1;
  background-color: #1d2226;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}

.partsContTitle {
  color: #00e5ff;
  font-size: 1.8rem;
  padding-top: 75px;
  padding-bottom: 7.5px;
  width: 70%;
  text-align: center;
  border-bottom: 3px solid rgb(240, 240, 240);
  margin-bottom: 30px;
}

.partsContList {
  width: 70%;
  list-style: none;
}

.partsItem {
  font-size: 1.5rem;
  color: rgb(148, 148, 148);
  cursor: pointer;
  padding: 15px 0;
  border: 1px solid #00e5ff;
  text-align: center;
}

.partsItem:hover {
  color: rgb(240, 240, 240);
  background-color: #343e43;
}

.partsContainerTwo {
  flex: 3;
  background-color: #343e43;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.partsContainerIn {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 45px;
}

.partsImageContainer {
  background-color: white;
}

.partsMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  cursor: pointer;
}

.partsProDiv {
  width: 100%;
  text-decoration: none;
}

.partName {
  font-size: 1.5rem;
  color: rgb(148, 148, 148);
  padding: 30px 0 10px 0;
}

.partPrice {
  font-size: 1.3rem;
  color: rgb(148, 148, 148);
}

.partsMenu {
  display: none !important;
}

.partsItemContainer {
  position: relative;
}

.partsHurt {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .partsContTitle {
    font-size: 1.5rem;
    padding-top: 40px;
  }

  .partsItem {
    font-size: 1.2rem;
  }

  .partsContainerIn {
    gap: 25px;
    width: 98%;
  }
}

@media (max-width: 480px) {
  .partsMain {
    position: relative;
  }
  .partsContainerOne {
    position: absolute;
    width: 100vw;
    height: 700px;
    top: 80px;
  }
  .partsMenu {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block !important;
  }
  .partsProDiv {
    height: 125px;
  }
  .partName {
    font-size: 1.1rem;
  }
}
