:root {
  --navbar-footer-bg: #05080a;
  --body-bg: #0b1a1f;
  --emphasis-letter-border: #00e5ff;
  --important-button: #c81e3a;
  --not-important: #3a4048;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.registerloginBg {
  height: 100vh;
  background-image: url("../assets/wp6543336-car-drifting-4k-desktop-wallpapers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
